.commandline {
  position: relative;
  top: 25%;
  left: 25%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.2rem;
  width: 50%;
}

.command-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
