.decklist-column {
  display: flex;
  flex-direction: column;
  max-width: 17em;
}

.decklist-row {
  display: inline-flex;
  max-width: 100%;
  min-width: 0;
  flex-basis: 1;
  flex-grow: 1;
  gap: 8px;
  align-items: flex-start;
}

.decklist-item {
  width: fit-content;
  padding-top: 4px;
  padding-bottom: 4px;
}

.count {
  flex-grow: 0;
}

.text {
  text-align: left;
  flex-grow: 1;
}

.manacost {
  text-align: right;
  flex-grow: 1;
  white-space: nowrap;
}
